footer {
  //  position: fixed;
  //   left: 0;
  //   bottom: 0;
  margin-top: 15px;
  width: 100%;
  background-color: rgba(151, 243, 235, 0.9);
  padding: 1px;
  text-align: center;
  color: #666;
  border: 1px solid #97f3eb;
}

@media screen and (max-width: 650px) {
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  footer {
    width: 100%;
  }
}
