nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #97f3eb;
    background-color: rgba(151, 243, 235, 0.9);
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
  }

  li {
    float: left;
    padding: 15px 15px;
    .apptitle {
      font-size: 18px;
    }
  }

  li a {
    //display: block;
    border-radius: 5px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }

  li a:hover:not(.apptitle) {
    background-color: #ddd;
  }

  li a.active {
    color: white;
    background-color: #4caf50;
  }
}

@media screen and (max-width: 650px) {
  nav {
    ul li {
      text-align: center;
      float: none;
    }
  }
}
