nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #97f3eb;
    background-color: rgba(151, 243, 235, 0.9);
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.apptitle) {
    background-color: #ddd;
  }

  li a.active {
    color: white;
    background-color: #4caf50;
  }
}

@media screen and (max-width: 650px) {
  nav {
    ul li {
      text-align: center;
      float: none;
    }
  }
}
