footer {
 position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(151, 243, 235,0.9);
  padding: 1px;
  text-align: center;
  color: #666;
  border: 1px solid #97f3eb;

}